/* Space out content a bit */
body {
  background: url(../images/background.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

body > .page-container {
    padding: 120px 20px 50px 60px;
}

@media (max-width: 780px)
{
    body > .page-container {
    	padding: 120px 10px 50px 10px;
	}
}

a{
    color : white;
}

a:hover, a:focus{
    color : orange;
    text-decoration: none;
}
h1,.h1, h3, .h3, h2, .h2{
    color : white;
}
label{
    margin-right : 5px;
}
/*Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
But in AngularJS adding empty href attributes to link tags will cause unwanted route changes.
This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly.
The remedy is simple, just add the following styling to your application:*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}

.container .text-muted {
    margin: 20px 0;
}


/* Sticky footer styles : Start */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
#footer .text-muted {
    color: #2c717f;
}
/* Sticky footer styles : End */

/* Common Style Classes : Start */
.custom-border {
    border-bottom: 1px solid rgba(255,255,255,0.15);
}
#time{
    color : white;
    font-size : 20px;
    padding : 10px;
}
.form-control{
    display:inline-block;
    margin-bottom: 5px;
    background-color : rgba(0,0,0,0.2);
    color : white;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
   background-color : rgba(0,0,0,0.4);
    color : white;
}
.control-label{
    text-align: right;
    padding-top: 6px;
}

select > option {
    background: white;
    color: black;
}

@media (max-width: 780px) {
    .control-label{
        text-align: left;
    }
}
/* Common Style Classes : End */


/*Top Header Styles : Start*/
.top-header-left-container{
    height : 60px;
}
#menu-toggle{
    padding : 15px 15px 10px 15px;
    background-color: rgba(0,0,0,0.5);
    height : 60px;
    text-align: center;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}
.logo{
    background: rgba(0, 0, 0, 0.85);
    width: 263px;
    height: 60px;
    padding-left : 60px;
    text-align: center;
}
@media (max-width: 780px)
{
    .logo {
        width: 100%;
        margin: 0;
        padding-left : 0px;
    }
}
.logo img{
    width : 150px;
}
.messages-icon , .notification-icon{
    padding : 15px 15px 15px 25px;
}
.topRightNavigation .navbar-top-links li {
    display: inline-block;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: rgba(0, 0, 0, 0.85);
    color : orange;
}
.nav > li > a:hover, .nav > li > a:focus{
    background: rgba(0, 0, 0, 0.85);
    color : orange;
}
.topNavigation{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-top-links{
    background: rgba(0, 0, 0, 0.85);
}
@media (max-width: 780px)
{
    .navbar-top-links{
        background: none;
    }
    .navbar-top-links > li{
        background: rgba(0, 0, 0, 0.85);
    }
    .topRightNavigation, .nav > li > a{
        font-size:15px;
    }
}

.topRightNavigation{
    font-size:20px;
    padding : 8px 0px 0px;
    margin-right: 5px;
    text-align: center;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.navbar-top-links .dropdown-messages{
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
/*Top Header Styles : End*/

/* Font Awesome Styles : Start */
.fa{
    color:white;
}
.custom-icon{
    text-align: center;
}
/* Font Awesome Styles : End */

/* Modals and DrapDowns : Start */
.dropdown li:hover, .dropdown li:focus{
    background: rgba(0,0,0,0.75);
    color : orange;
}
.dropdown li {
    padding: 5px 0px;
}
.dropdown-menu{
    background: rgba(0, 0, 0, 0.85);
    color : white;
    border: 0;
    margin: 0;
    font-size: 12px;
}
.dropdown-menu > li > a{
    color:white;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background: rgba(0, 0, 0, 0.75);
    color : orange;
}
.modal-dialog{
	width : auto;
	margin: 30px;
}
.modal-content{
  background: url(../images/background.jpg);
  background-size: 100% 100%;
  border-radius : 8px;
  border : 3px solid white;
}
.historical-stock-list-grid{
	height : 600px;
}
/* Modals and DrapDowns : End */
/* Side bar : Start */
#sidebar-wrapper{
    top : 60px;
    background: none;
}
#wrapper.toggled #sidebar-wrapper {
    width: 54px;
    overflow: visible;
}
#sidebar-wrapper,#sidebar-wrapper .nav > li > a > i{
    font-size:20px;
}
#sidebar-wrapper,#sidebar-wrapper .nav li {
    font-size:15px;
}
#sidebar-wrapper .nav .left-list-item {
    position: absolute;
    top: 5px;
    left: 70px;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,.85);
    -webkit-transition: all 230ms;
    -moz-transition: all 230ms;
    -o-transition: all 230ms;
    color:white;
    width: 209px;
    padding: 5px 5px 5px 15px;
    font-size:15px;
}

#sidebar-wrapper .nav .left-list-item a{
    color:white;
    padding : 8px;
}
#sidebar-wrapper .nav .left-list-item a:hover{
    color : orange;
    text-decoration: none;
}

#sidebar-wrapper .nav > li:hover .left-list-item {
    left: 54px;
    opacity: 1;
    z-index: 20;
    visibility: visible;
}
#sidebar-wrapper .nav .dropdown .list-unstyled.left-list-item{
    margin-top : 30px;
}
@media (min-width: 768px)
{
    #sidebar-wrapper {
        width: 54px;
        overflow: visible;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0px;
        overflow: hidden;
    }
}
/* Side bar : End */

/* Panels : Start */
.panel{
    background: rgba(0,0,0,.23);
    color: white;
}
.panel-default{
    border-color: rgba(0,0,0,.3);
    color: white;
}
.panel-default > .panel-heading{
    background: rgba(0,0,0,.5);
    color: white;
}
.panel-default > .panel-body{
    color: white;
}
.panel-body {
    padding : 20px 20px 20px 30px;
}
@media (max-width: 768px)
{
    .panel-body {
        padding : 20px;
    }
}
/* Panels : End */

/* RSS Feeds : Start */
.feedEkList li{
    margin: 5px;
    background: rgba(0,0,0,0.3);
    padding: 5px;
}
.feedEkList li .itemTitle{
    margin : 5px;
}
.feedEkList.list-unstyled{
    list-style: disc;
}
/* RSS Feeds : End */

/* Grids : Start */
.ui-grid{
    color: white;
    width : auto;
    border: none;
}
.ui-grid-top-panel{
    background : rgba(0,0,0,.5);
}
.ui-grid-row:nth-child(even) .ui-grid-cell{
    background : rgba(0,0,0,.2);
}
.ui-grid-row:nth-child(odd) .ui-grid-cell{
    background : rgba(0,0,0,.3);
}
.ui-grid-row:hover .ui-grid-cell{
    background : rgba(0,0,0,.4);
}
.ui-grid-menu .ui-grid-menu-inner{
    background : rgba(0,0,0,.85);
}
.ui-grid-row .ui-grid-cell{
    height: 50px !important;
    text-align: center;
    padding : 10px;
}

.dashboard-stock-list-grid{
    height :630px;
}

.ui-grid-menu .ui-grid-menu-inner ul li.ui-grid-menu-item-active{
    background : rgba(0,0,0,.85);
    color : orange;
}
.ui-grid-native-scrollbar{
    overflow: auto;
}
.ui-grid-native-scrollbar .contents{
    height : 0px;
}
.ui-grid-native-scrollbar.horizontal{
    width : 0px;
}
input[type="text"].ui-grid-filter-input{
    background-color : rgba(0,0,0,0.2);
    color : white;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* Grids : End */

.breaking-news {
    background: rgba(0, 0, 0, .35);
}
.positiveChange{
    color : green;
}
.negativeChange{
    color : red;
}
.lastTradePrice{
    font-size: 18px;
    margin : 10px 5px 10px 10px;
}
.stock-quote-summary-panel h3{
    font-size: 25px;
}

/* Charts : Start */
.quote-statistics,.quote-statistics-pie {
    padding: 20px 0px;
    height: 200px;
    overflow: hidden;
}
.quote-statistics h2 {
    margin: 2px 0 1px 0;
    line-height: 29px;
    font-size: 30px;
    left: 20px;
    top: 20px;
    position: absolute;
    line-height: 100%;
}
.quote-statistics small{
    top: 50px;
    left: 20px;
    position: absolute;
}
.quote-statistics-pie small{
    top: 25px;
    left: 20px;
    position: absolute;
}
.quote-statistics small, .quote-statistics-pie small{
    font-size: 11px;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    margin-bottom: 2px;
}
.quote-statistics,.quote-statistics-pie{
    color : white;
}
.quote-statistics .chart-widget,.quote-statistics-pie .chart-widget{
    background: rgba(0,0,0,0.35);
}
.quote-statistics-container{
    padding : 40px 30px;
}
.jqstooltip{
    height : auto !important;
    width : auto !important;
}
.quote-statistics-pie .chart-widget{
    width:300px;
    height:150px;
    padding: 0px 70px;
}
.quote-statistics-pie .chart-widget span{
    top: 75px;
    font-size: 30px;
    position: absolute;
    left: 115px;
}
/* Charts : End */