/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

body > .page-container {
    padding: 60px 15px 0;
}

/*Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
But in AngularJS adding empty href attributes to link tags will cause unwanted route changes.
This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly.
The remedy is simple, just add the following styling to your application:*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}

.container .text-muted {
    margin: 20px 0;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */

    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
#footer .text-muted {
    color: #2c717f;
}

/*custom*/
.navbar-brand{
    padding : 0px;
    margin-right: 20px;
}
