<div ng-show="message().show">
    <alert type="message().type" close="message().show=false">{{message().text}}</alert>
</div>

    <div class="row blockContainer">
        <div class="col-md-4 col-md-offset-8 pull-right">
            <div class="field-wrapper"><label>Select Portfolio:</label><select type="text" ng-change="reloadMyPortfolio" ng-model="leagueSelected" ng-options="league as league.name for league in myLeagues  | filter:{league:$viewValue}" class="form-control singleSelect"/></div>
        </div>
    </div>
    <div class="row stock-quote-summary-panel blockContainer">
       <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="panel-title">{{leagueSelected.name}}</h3>
                            <div class="panelContainer">
                                <div class="field-wrapper"><label>Portfolio Value:</label><span>{{myPortfolio.portfolioValue}}</span></div>
                                <div class="field-wrapper"><label>Remaining Cash Balance:</label><span>{{myPortfolio.remainingBalance}}</span></div>
                                <div class="field-wrapper"><label>Total Value:</label><span>{{myPortfolio.totalValue}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blockContainer">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stock Holdings</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="getStockHoldingsDataGridOptions" class="stock-holdings-list-grid" external-scopes="$scope"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stocks List</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="stockListGridOptions" class="stock-list-grid" external-scopes="$scope"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blockContainer">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">My Recent Trades</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="getRecentTradesDataGridOptions" class="recent-trades-list-grid"></div>
                </div>
            </div>
        </div>
    </div>